<template name="playerPage">
  {{#if currentUser}}
    <h1>Player: {{currentUser.username}}.</h1>
    <h3>Hand</h3>
    {{#isEmpty player.cards}}
      <p>You have no cards.</p>
    {{else}}
      <ul>
        {{#each player.cards}}
          <li>{{> cardItem}}</li>
        {{/each}}
      </ul>
    {{/isEmpty}}
  {{else}}
    <form class="js-player-join-game">
      <div>Please choose a username.</div>
      <input type="text" class="js-username" />
      <input type="button" class="js-action" value="Go" />
    </form>
  {{/if}}
</template>
