<template name="tableList">
  {{#if hasTables}}
    <ul class="table-list">
      {{#each tables}}
        <li>
          {{name}} ({{size games}} game)
          <ul>
            {{#each games}}
              <li>
                {{_id}}
                [<a href="{{pathFor route='gamePage' data=gamePageData}}">watch</a>]
                [<a href="#" class="js-join-game">join</a>]
              </li>
            {{/each}}
          </ul>
        </li>
      {{/each}}
    </ul>
  {{/if}}
  <a href="#" class="js-create-new-table">Create table</a>
</template>
