<template name="tableList">
  <ul>
    {{#each this}}
      <li>
        {{name}} ({{size games}} game)
        <ul>
          {{#each games}}
            <li>
              {{_id}}
              [<a href="{{pathFor route='gamePage' data=gamePageData}}">watch</a>]
              [<a href="{{pathFor route='playerJoin' data=gamePageData}}">join</a>]
            </li>
          {{/each}}
        </ul>
      </li>
    {{/each}}
    <li><a href="#" class="js-create-new-table">Create table</a></li>
  </ul>
</template>
