<template name="gamePage">
  <h1>Table: {{table.name}}</h1>
  <h2>Game: {{_id}}</h2>
  <h3>Players <small>({{size players}})</small></h3>
  {{#isEmpty players}}
    <p>There are no players yet.</p>
  {{else}}
    <ul>
      {{#each players}}
        <li>{{user.username}} [<a href="#" class="js-deal-card">deal</a>]</li>
      {{/each}}
    </ul>
  {{/isEmpty}}
  <h3>Deck <small>({{size deck}})</small></h3>
  <ul>
    <li><a href="#" class="js-shuffle-deck">Shuffle deck</a></li>
  </ul>
  {{> cardList deck}}
  <h3>Open <small>({{size open}})</small></h3>
  <ul>
    <li><a href="#" class="js-fold-cards">Fold</a></li>
  </ul>
  {{> cardList open}}
  <h3>Fold <small>({{size fold}})</small></h3>
  {{> cardList fold}}
</template>
